
:root {
    --red: #ff6897;
    --dark-red: #e84779;
    --purple: #9f64fe;
    --dark-purple: #7e31fd;
    --green: #57ccb9;
    --dark-green: #13a8a1;
    --alt-green: #2bb4af;
    --yellow: #feebb9;
    --dark-yellow: #fdd25d;
    --gray: #cccccc;
}

/* Reset */

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    transition: all 0.5s ease;
}

body.light {
    backdrop-filter: invert(1);
}

div.container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    background-color: white;
    transition: all 0.5s ease;
}

div.container.container--dark {
    background-color: #1d1d1d;
}

/* Header */
header.header {
    position: relative;
    height: 233px;
    width: 100%;
}

object.header__left, object.header__right, 
h1.header__title, header.header div.top {
    position: absolute;
    top: 0;
}

object.header__left {
    left: 0;
    z-index: 4;
}

object.header__right {
    right: 0;
    z-index: 3;
}

h1.header__title {
    z-index: 10;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 600;
}

header.header div.top {
    left: 0;
    z-index: 6;
    width: 100%;
    height: 65px;
    background-color: var(--dark-purple);
    border-radius: 0 0 3rem 3rem;
}

div.top__box {
    position: relative;
    left: 63px;
    top: 0;
    width: calc(100% - 63px - 102px);
    height: 100%;
    border-radius: 0 3rem 0 0;
    background-color: var(--red);
    overflow: hidden;
}

div.box__circle {
    width: 103px;
    height: 103px;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
    background-color: var(--dark-red);
    position: absolute;

}

/* Moves */

p.moves {
    text-align: center;
    font-size: small;
    color: gray;
}

p.moves.moves--dark {
    color: white;
}

/* Hanoi */

.container_game {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    margin-top: 1rem;
}

#disco_a {
    background-color: var(--dark-purple);
    width: 92px;
}

#disco_b {
    background-color: var(--dark-yellow);
    width: 79px;
}

#disco_c {
    background-color:var(--dark-red);
    width: 66px;
}

#disco_d {
    background-color: var(--green);
    width: 51px;
}

div.varetas {
    box-sizing: content-box;
    width: 19px;
    height: 136px;
    background-color: var(--gray);
    border-radius: 3px 3px 0 0;
    position: absolute;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div.varetas.varetas--dark {
    background-color: white;
}

div.varetas::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    padding: 0.75rem;
}

div.column_area {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center; 
    width: 92px;
    height: 136px;
}

div.disk {
    border-radius: 3px;
    margin: 0.25rem 0;
    height: 20px;
    z-index: 2;
    transition: all 0.3s ease;
    cursor: pointer;
}

div.selected {
    margin-bottom: 10px;
}

div.confetti {
    background-image: url('../img/confetti-10.gif');
    background-size: cover;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Win message */

p.message {
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--dark-yellow);
    padding: 0.75rem 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

p.timer {
    text-align: center;
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: 600;
}

p.timer.timer--dark {
    color: white;
}

/* Score */

section.score_area {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.score_area__item {
    background-color: white;
    padding: 0.75rem 1rem;
    min-width: 250px;
}

/* Button */

div.buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    flex-direction: column;
}

div.button_container {
    text-align: center;
}

button {
    padding: 1rem 4.5rem;
    color: white;
    background-color: var(--alt-green);
    border-radius: 0 1rem;
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

/* Hidden */

div.hidden, section.hidden {
    display: none;
}

@media only screen and (min-width: 750px) {
    div.buttons_container {
        flex-direction: row;
    }
}

/* light/dark mode */

div.toggle_mode {
    position: absolute;
    top: 170px;
    left: 30px;
}

label.toggle_mode__label {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 60px;
    border-radius: 2rem;
    padding: 5px;
    transition: all 0.3s ease;
}

div.circle {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    padding: 2px;
    background-color: white;
    border-radius: 50%;
    top: 4px;
    right: 4px;
    transition: all 0.3s ease;
}

input#mode:checked + label.toggle_mode__label div.circle {
    transform: translateX(-29px);

}

input#mode {
    position: absolute;
    opacity: 0;
}

input#mode:checked + label.toggle_mode__label {
    background-color: gray;
}

i.fas {
    font-size: 1.25rem;
}

i.fa-moon {
    color: var(--yellow);
}

i.fa-sun {
    color: var(--dark-yellow);
}


/* Tablets and Notebook */
@media only screen and (min-width: 900px) {
    body {
        background: url('../img/triangle-bg.gif');
        background-size: cover;
        display: grid;
        place-items: center;
    }

    body:not(.light)::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: radial-gradient(transparent, rgba(0, 0, 0, 0.5));
    }

    div.container {
        border-radius: 2rem;
        overflow: hidden;
        max-height: 650px;
        box-shadow: 0 0 2rem black;
    }
}